<form class="form-group" method="post" action="/login">
  <div class="container">
    <div>
      <label>Username</label>
      <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <label>Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <br>
    Don't Have An Account? <a class="btn btn-primary btn-sm" href="/register">Register</a>

  </div>
</form>
