<form class="form-group" method="post" action="/register">
  <div class="container">
    <div>
      <label>Name</label>
      <input class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <div>
      <label>Username</label>
      <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <label>Email</label>
      <input class="form-control" type="email" name="email" placeholder="Email">
    </div>
    <div>
      <label>Password</label>
      <input class="form-control" type="text" name="password" placeholder="Password">
    </div>
    <div>
      <label>Confirm Password</label>
      <input class="form-control" type="text" name="password2" placeholder="Confirm Password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    <br>
    Have An Account? <a class="btn btn-primary btn-sm" href="/login">Login Now</a>
  </div>
</form>
